mkdir whatsapp-api
cd whatsapp-api
npm init -y
npm install whatsapp-web.js qrcode-terminal express

/*
POST /send-message
{
    "number": "5511987654321",
    "message": "Olá, isso é uma mensagem teste"
}


POST /send-group-message
{
    "groupId": "1234567890-123456789@g.us",
    "message": "Mensagem para o grupo"
}

*/